body {
    background-color: rgb(225, 225, 225);
    font-family: Cantarell, Calibri, sans-serif;
    line-height: auto;
    letter-spacing: 0.5px;
    font-size: 30;
    color: rgb(50, 50, 50);
}

#profile-pic {
    width: 200px;
    border-radius: 10%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1,
h2,
h3 {
    color: rgb(62, 130, 161);
    font-size: 20px;
    font-weight: 400px;
}

h1 {
    font-size: 46px;
    font-weight: 600px;
    color: rgb(82, 112, 241);
    margin-top: 0;
}

a {
    text-decoration: none;
    color: rgb(42, 190, 134);
    transition: color 0.5s ease;
}

a:hover {
    color: rgb(202, 202, 202);
    text-decoration: underline;
}

p {
    text-justify: auto;
    font-weight: 400;
    width: 85%;
    margin: auto;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 10px;
    font-size: 40px;
}

.container {
    width: 850px;
    margin: 10px auto;
    padding: 15px 20px;
}

.card-white {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgb(50, 50, 95, 0.2);
    padding: 40px;
    margin: 10px 0;
    text-align: center;
}

.card-white:hover {
    background-color: rgb(247, 247, 247);
    transition: background-color 0.5s ease;
}

.button-green {
    background-color: rgb(87, 112, 192);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
}

.button-green:hover {
    background-color: rgb(94, 94, 194);
    color: white;
}

.logo-blue {
    color: rgb(64, 124, 255);
}

.logo-black {
    color: rgb(49, 49, 49);
}

.logo-red {
    color: rgb(255, 93, 93);
}

#intro-button p {
    margin-bottom: 40px;
}

@media (max-width: 900px) {
    .container {
        width: 650px;
    }
}

@media (max-width: 690px) {
    .container {
        width: 450px;
    }
}
